{% extends 'template.html.twig' %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading"><h2 style="margin-bottom: 0; margin-top: 0;">Overview</h2></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-2" style="text-align: center"><i class="fa-solid fa-circle-info"></i> Info<br/>{{ issues.info.summary.info }}</div>
      <div class="col-xs-2" style="text-align: center"><i class="fa-solid fa-circle-arrow-down"></i> Minor<br/>{{ issues.info.summary.minor }}</div>
      <div class="col-xs-2" style="text-align: center"><i class="fa-solid fa-circle-chevron-up"></i> Major<br/>{{ issues.info.summary.major }}</div>
      <div class="col-xs-2" style="text-align: center"><i class="fa-solid fa-circle-arrow-up"></i> Critical<br/>{{ issues.info.summary.critical }}</div>
      <div class="col-xs-2" style="text-align: center"><i class="fa-solid fa-circle-exclamation"></i> Blocker<br/>{{ issues.info.summary.blocker }}</div>
    </div>
    <hr />
    <div class="row">
      <div class="col-xs-2" style="text-align: center"><i class="fa-solid fa-circle-radiation"></i> Code Smell<br/>{{ issues.info.summary.code_smell }}</div>
      <div class="col-xs-2" style="text-align: center"><i class="fa-solid fa-bug"></i> Bug<br/>{{ issues.info.summary.bugs }}</div>
      <div class="col-xs-2" style="text-align: center"><i class="fa-solid fa-lock-open"></i> Vulnerability<br/>{{ issues.info.summary.vulnerability }}</div>
      <div class="col-xs-2" style="text-align: center"><i class="fa-solid fa-shield-halved"></i> Hotspot<br/>{{ issues.info.summary.hotspot }}</div>
      <div class="col-xs-2" style="text-align: center"><i class="fa-solid fa-code"></i> Lines<br/>{{ issues.info.summary.lines }}</div>
    </div>
  </div>
  <div class="panel-footer"><strong>Last analyzed:</strong> {{ issues.info.lastrun | date('m/d/Y H:i a', 'America/Los_Angeles') }}</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h2 style="margin-bottom: 0; margin-top: 0;">Issues</h2></div>
  <div class="panel-body">
    {% for component in issues.issues %}
      <div style="margin-bottom: 1rem;">
        <table width="100%">
          <thead>
            <tr>
                <th colspan="4" style="font-weight: 700;">
                    <p style="margin-bottom: .75rem;">File: {{ component.longName }}</p>
                </th>
            </tr>
            <tr>
              <th width="10%">Severity</th>
              <th width="15%">Type</th>
              <th>Message</th>
              <th width="10%" style="text-align: right;">Line</th>
            </tr>
          </thead>
          <tbody>
            {% for issue in component.items %}
              <tr>
                <td style="vertical-align: top">
                  {% if issue.severity == "INFO" %}
                    <i class="fa-solid fa-circle-info"></i> Info
                  {% elseif issue.severity == "MINOR" %}
                    <i class="fa-solid fa-circle-arrow-down"></i> Minor
                  {% elseif issue.severity == "MAJOR" %}
                    <i class="fa-solid fa-circle-chevron-up"></i> Major
                  {% elseif issue.severity == "CRITICAL" %}
                    <i class="fa-solid fa-circle-arrow-up"></i> Critical
                  {% elseif issue.severity == "BLOCKER" %}
                    <i class="fa-solid fa-circle-exclamation"></i> Blocker
                  {% else %}
                    {{ issue.severity }}
                  {% endif %}
                </td>
                <td style="vertical-align: top">
                  {% if issue.type == "CODE_SMELL" %}
                    <i class="fa-solid fa-circle-radiation"></i> Code Smell
                  {% elseif issue.type == 'BUG' %}
                    <i class="fa-solid fa-bug"></i> Bug
                  {% elseif issue.type == 'VULNERABILITY' %}
                    <i class="fa-solid fa-lock-keyhole-open"></i> Vulnerability
                  {% elseif issue.type == 'HOTSPOT' %}
                    <i class="fa-solid fa-shield-halved"></i> Hotspot
                  {% else %}
                    {{ issue.type }}
                  {% endif %}
                </td>
                <td style="vertical-align: top">{{ issue.message }}</td>
                <td style="text-align: right; vertical-align: top">{{ issue.line }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <hr />
    {% endfor %}
  </div>
</div>
{% endblock %}